@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nunito:wght@400;600;700;800&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  min-width: 320px;
  font-family: 'Nunito', 'Apple SD Gothic Neo', 'Pretendard', sans-serif;
}

h1,
h2,
h3,
.badge {
  font-family: 'Black Han Sans', 'Apple SD Gothic Neo', sans-serif;
  font-weight: 400;
}

button {
  font: inherit;
}
